---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="whats-included" sectionClasses="" wrapperClasses="">
  <article class="flex items-center">
    <!--Principal -->
    <div class="flex flex-col lg:flex-row gap-4 bg-blueBg pl-8 py-12 lg:px-10 rounded-r-[10px] w-[85%] lg:w-[70%] lg:py-20 xl:py-36 lg:min-h-[70vh] text-white">
      <div class="flex lg:py-12">
        <div class="w-[10%]">
          <img src="/public/assets/Included/bullet.png" class="object-contain" alt="" />
        </div>
        <div class="w-[90%] flex flex-col gap-2">
          <h2 class="Giyaste text-3xl lg:text-[40px]/[48px] lg:tracking-[.4rem] tracking-[.2rem] uppercase">OUR CORE VALUES</h2>
        </div>
      </div>

      <article class="flex flex-col lg:justify-between gap-8">
        <div class="flex flex-col gap-1 max-w-[450px]">
          <img src="/public/assets/Included/1.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg xl:text-xl text-[#FFFFFF]">Transparency</h4>
          <p class="text-[#A7B3C7] xl:text-lg">We believe in open, clear communication and providing clients with a complete understanding of each investment opportunity.</p>
        </div>

        <div class="flex flex-col gap-1 max-w-[450px] lg:hidden">
          <img src="/public/assets/Included/2.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg xl:text-xl">Reliability</h4>
          <p class="text-[#A7B3C7] xl:text-lg">Our commitment to excellence and dependability sets us apart. We ensure each client feels supported and secure at every stage.</p>
        </div>

        <div class="flex flex-col gap-1 max-w-[450px]">
          <img src="/public/assets/Included/3.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg xl:text-xl">Client-First Approach</h4>
          <p class="text-[#A7B3C7] xl:text-lg">Our clients’ goals and needs shape our approach. We tailor our services to meet each client’s unique investment objectives.</p>
        </div>

        <div class="flex flex-col gap-1 max-w-[450px] lg:hidden">
          <img src="/public/assets/Included/4.png" class="w-[41px] h-[41px] object-contain" alt="" />
          <h4 class="font-medium text-lg xl:text-xl">Innovation</h4>
          <p class="text-[#A7B3C7] xl:text-lg">We stay ahead of market trends and leverage data-driven insights to offer forward-thinking solutions for our clients.</p>
        </div>
      </article>
    </div>

    <!--Lateral -->
    <div class="rounded-l-[10px] flex flex-col justify-between w-[15%] bg-blueBg lg:w-[30%] pr-8 py-12 lg:py-20 xl:py-36 h-full lg:min-h-[70vh]">
      <div class="lg:flex flex-col gap-1 max-w-[450px] hidden">
        <img src="/public/assets/Included/2.png" class="w-[41px] h-[41px] object-contain" alt="" />
        <h4 class="font-medium text-lg xl:text-xl text-[#FFFFFF]">Reliability</h4>
        <p class="text-[#A7B3C7] xl:text-lg">Our commitment to excellence and dependability sets us apart. We ensure each client feels supported and secure at every stage.</p>
      </div>

      <div class="lg:flex flex-col gap-1 max-w-[450px] hidden">
        <img src="/public/assets/Included/4.png" class="w-[41px] h-[41px] object-contain" alt="" />
        <h4 class="font-medium text-lg xl:text-xl text-[#FFFFFF]">Innovation</h4>
        <p class="text-[#A7B3C7] xl:text-lg">We stay ahead of market trends and leverage data-driven insights to offer forward-thinking solutions for our clients.</p>
      </div>
    </div>
  </article>
</SectionStructure>
