---
import HeroStructure from '../../structures/HeroStructure.astro';
---

<!-- ? Home section -->
<HeroStructure id="about-home-section">
  <div class="p-3 shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] rounded-md h-max w-full flex flex-col lg:flex-row items-center gap-8 lg:gap-0 home-section bg-blueBg">
    <article class="w-full flex flex-col items-center gap-5 lg:w-6/12 px-4 h-max lg:px-0">
      <div class="flex justify-center gap-4">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMiAxNy4yN0wxOC4xOCAyMWwtMS42NC03LjAzTDIyIDkuMjRsLTcuMTktLjYyTDEyIDJMOS4xOSA4LjYyTDIgOS4yNGw1LjQ1IDQuNzNMNS44MiAyMXoiLz48L3N2Zz4="
          alt="Star icon"
          class="w-6 h-6 object-contain"
        />

        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMiAxNy4yN0wxOC4xOCAyMWwtMS42NC03LjAzTDIyIDkuMjRsLTcuMTktLjYyTDEyIDJMOS4xOSA4LjYyTDIgOS4yNGw1LjQ1IDQuNzNMNS44MiAyMXoiLz48L3N2Zz4="
          alt="Star icon"
          class="w-6 h-6 object-contain"
        />

        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xMiAxNy4yN0wxOC4xOCAyMWwtMS42NC03LjAzTDIyIDkuMjRsLTcuMTktLjYyTDEyIDJMOS4xOSA4LjYyTDIgOS4yNGw1LjQ1IDQuNzNMNS44MiAyMXoiLz48L3N2Zz4="
          alt="Star icon"
          class="w-6 h-6 object-contain"
        />
      </div>

      <h1 class="Giyaste text-center text-4xl leading-snug tracking-widest text-[#FFFFFF] lg:text-3xl xl:text-5xl xl:px-8 xl:leading-tight xl:font-light xl:tracking-[0.5rem]">
        EMPOWERING CONFIDENT INVESTMENTS IN DUBAI
      </h1>

      <p class="text-[#A7B3C7] font-medium text-center mt-1 lg:text-lg xl:px-6">Experience the confidence of a fully guided journey into one of the world’s most dynamic real estate markets.</p>

      <div class="gap-[0.5px] self-center lg:p-0 lg:gap-0.5 mt-5 flex hover:scale-95 transition-all duration-200">
        <a class="flex font-medium text-sm md:text-md lg:text-lg xl:text-xl justify-center items-center bg-[#FFFFFF] rounded-md py-3 px-6 lg:py-5 text-blueBg w-full lg:w-max" href="#packages-section">
          Schedule a Personalized Consultation
        </a>
        <div class="bg-[#FFFFFF] flex justify-center items-center rounded-r-sm rounded-l-md p-1 px-4 lg:px-6">
          <div class="bg-blueBg rounded-sm p-1">
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im04LjAwNiAyMS4zMDhsLTEuMDY0LTEuMDY0TDE1LjE4NyAxMkw2Ljk0MiAzLjc1NmwxLjA2NC0xLjA2NEwxNy4zMTQgMTJ6Ii8+PC9zdmc+"
              class="object-contain w-6 h-6"
              alt="Arrow icon"
            />
          </div>
        </div>
      </div>
    </article>

    <article class="w-full flex flex-col items-center gap-5 lg:w-6/12 px-4 h-full">
      <img src="/public/assets/hero-bg.png" class="object-cover h-full rounded-md" alt="Hero Image" />
    </article>
  </div>
</HeroStructure>

<style>
  .home-section {
    min-height: max-content;
  }
  @media (min-width: 1524px) {
    .home-section {
      height: calc(100vh - 120px);
    }
  }

  @media (min-width: 1024px) {
    .home-section {
      height: calc(100vh - 120px);
      min-height: 700px;
    }
  }
</style>
