---
import SectionStructure from '../../../structures/SectionStructure.astro';
import TestimonialsList from './TestimonialsList';

import { getCollection } from 'astro:content';

const testimonials = await getCollection('testimonials');

const { isIndexSection } = Astro.props;
---

<SectionStructure idSection="testimonials">
  <div class="rounded-md flex flex-col items-center gap-12 xl:px-16 lg:py-12 w-full min-h-max pb-12">
    <span class="text-[16px]/[16.52px] lg:text-[16px]/[19-52px] font-normal text-[#606773]">TESTIMONIALS</span>
    <h2
      class="Giyaste text-[26px]/[32.2px] px-4 leading-tight tracking-[0.3rem] text-center text-blue xl:leading-tight xl:font-light xl:tracking-[0.5rem] lg:w-10/12 2xl:w-9/12 lg:text-[32px]/[35.2px]"
    >
      SEE HOW FLY BEFORE YOU BUY HAS TRANSFORMED THE INVESTMENT JOURNEYS OF CLIENTS WORLDWIDE.
    </h2>

    <div class="flex items-center gap-3">
      <img src="/public/assets/testimonials/group-people.svg" class="w-[56px] h-[56px] object-contain lg:h-12 lg:w-12 xl:h-12 xl:w-12" alt="Group people icon" />
      <p class="text-blueBg text-[16px]/[17.92px] lg:text-lg">
        <span class="font-semibold">2,000+ investors</span> trust Fly Before You Buy
      </p>
    </div>

    <TestimonialsList client:load testimonials={testimonials} isIndexSection={isIndexSection} />
  </div>
</SectionStructure>
