---
import DiscoverMoreButton from '../../components/common/DiscoverMore';
import HeroStructure from '../../structures/HeroStructure.astro';
---

<!-- ? Home section -->
<HeroStructure id="home-section">
  <div class="p-3 shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] rounded-[4px] h-max w-full flex flex-col md:flex-row items-center gap-8 lg:gap-0 home-section">
    <article class="w-full flex flex-col items-center gap-5 md:w-6/12 px-4 h-max lg:px-0">
      <div class="flex justify-center gap-4">
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
          class="w-3 h-3 object-contain"
          alt="Star icon"
        />

        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
          class="w-3 h-3 object-contain"
          alt="Star icon"
        />

        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
          class="w-3 h-3 object-contain"
          alt="Star icon"
        />
      </div>

      <h1 class="Giyaste text-center text-[28px]/[33.6px] tracking-widest text-blue lg:text-[50px]/[55px] lg:tracking-[0.5rem] px-10 lg:px-9">YOUR GATEWAY TO SMART PROPERTY INVESTMENTS IN DUBAI.</h1>

      <p class="text-[#606773] font-light text-[16px]/[21.76px] px-6 text-center mt-1 lg:text-base/[23.36px] lg:w-10/12 xl:w-8/12 2xl:w-8/12">
        Experience the confidence of a fully guided journey into one of the world’s most dynamic real estate markets.
      </p>

      <DiscoverMoreButton client:load />
    </article>

    <article class="w-full flex flex-col items-center gap-5 md:w-6/12 h-full">
      <img
        src="https://shualim.online/wlp/fbyb/home/public/assets/hero-bg.webp"
        class="object-cover h-full w-full max-w-[500px] md:min-w-full max-h-[480px] lg:min-h-full rounded-[4px]"
        alt="Hero Image"
      />
    </article>
  </div>
</HeroStructure>

<style>
  .home-section {
    min-height: max-content;
  }
  @media (min-width: 1524px) {
    .home-section {
      height: calc(100vh - 120px);
    }
  }

  @media (min-width: 1024px) {
    .home-section {
      height: calc(100vh - 120px);
      min-height: 700px;
    }
  }
</style>
