---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="quality-service">
  <div class="shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] rounded-[4px] lg:shadow-none flex flex-col gap-[112px] md:flex-row lg:justify-between md:items-center p-12 xl:px-16 min-h-[50vh]">
    <article class="w-full lg:w-6/12 xl:w-5/12 flex flex-col gap-[8px]">
      <h2 class="Giyaste text-[36px]/[45px] tracking-[0.3rem] text-blue lg:text-[61px]/[67.1px] lg:leading-tight lg:font-light lg:tracking-[0.5rem]">
        <span>QUALITY,</span>
        <br />
        <span>SERVICE,</span>
        <br />
        <span>TRANSPARENCY.</span>
      </h2>
    </article>

    <article class="flex flex-col gap-4 justify-center items-center w-full lg:w-6/12 xl:w-7/12 lg:gap-8 lg:justify-center">
      <p class="text-[#606773] lg:text-[24px]/[30.72px] font-light">
        At <span class="font-semibold">Fly Before You Buy</span>, we redefine real estate investments in Dubai. With unmatched expertise and a commitment to transparency, we guide investors at every
        step, ensuring clarity, security, and success.
      </p>

      <div class="flex justify-center items-center gap-4 lg:justify-start w-full mb-6">
        <a href="about-us.html" class="text-blueBg underline underline-offset-4 font-medium text-lg/[20.16px] lg:text-[20px]/[22px]">Learn More About Us</a>
        <img src="https://shualim.online/wlp/fbyb/home/public/assets/quality/next-icon.webp" class="w-10 h-10 object-contain" alt="Next icon" />
      </div>
    </article>
  </div>
</SectionStructure>
