---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="tour-service">
  <div class="rounded-md flex flex-col gap-16 md:flex-row lg:justify-between lg:items-center p-8 xl:px-16 bg-blueBg lg:py-12">
    <article class="w-full lg:w-6/12 flex flex-col justify-between gap-12">
      <div class="flex flex-col gap-8">
        <h2 class="text-[#A7B3C7] text-sm xl:text-base font-medium">TOUR SERVICE</h2>
        <p class="text-[#F8FBFF] md:text-lg xl:text-xl">
          The Fly Before You Buy Tour is your personalized introduction to Dubai’s thriving real estate market. Explore exclusive opportunities and make confident decisions with tailored guidance.
        </p>
      </div>

      <div class="gap-[0.5px] self-center lg:p-0 lg:gap-0.5 mt-5 flex hover:scale-95 transition-all duration-200 w-full">
        <a class="flex font-medium text-lg xl:text-xl justify-center items-center bg-[#FFFFFF] rounded-md py-3 px-6 lg:py-5 text-blueBg w-full lg:w-max" href="#packages-section">Book Your Tour</a>
        <div class="bg-[#FFFFFF] flex justify-center items-center rounded-r-sm rounded-l-md p-1 px-4 lg:px-6">
          <div class="bg-blueBg rounded-sm p-1">
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im04LjAwNiAyMS4zMDhsLTEuMDY0LTEuMDY0TDE1LjE4NyAxMkw2Ljk0MiAzLjc1NmwxLjA2NC0xLjA2NEwxNy4zMTQgMTJ6Ii8+PC9zdmc+"
              class="object-contain w-6 h-6"
              alt="Arrow icon"
            />
          </div>
        </div>
      </div>
    </article>

    <article class="flex flex-col gap-4 justify-center items-center w-full lg:w-6/12 lg:gap-8 lg:justify-center">
      <img src="/public/assets/tour-service.png" alt="Tour service image" />
    </article>
  </div>
</SectionStructure>
