---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="tour-service">
  <div class="rounded-[4px] flex flex-col gap-16 md:flex-row lg:justify-between lg:items-center p-4 pt-16 xl:px-16 bg-blueBg lg:py-12">
    <article class="w-full lg:w-6/12 flex flex-col justify-between gap-12">
      <div class="flex flex-col gap-8 p-8">
        <h2 class="text-[#A7B3C7] text-base/[19.52px] font-medium">TOUR SERVICE</h2>
        <p class="text-[#A7B3C7] font-light text-base/[21.76px] lg:leading-[23.68px] xl:w-10/12 2xl:w-9/12">
          The Fly Before You Buy Tour is your personalized introduction to Dubai’s thriving real estate market. Explore exclusive opportunities and make confident decisions with tailored guidance.
        </p>
      </div>

      <div class="gap-[0.5px] self-center lg:p-0 lg:gap-0.5 flex w-full max-w-[320px] lg:max-w-[400px] lg:w-max lg:self-start lg:px-8 group">
        <a
          class="flex font-medium text-base/[17.92px] xl:text-xl justify-center items-center bg-[#FFFFFF] rounded-md py-5 px-6 lg:py-5 text-blueBg w-full lg:w-max group-hover:bg-[#E8D6AD] group-hover:text-[#03264D] transition-all duration-200 border-[1px] border-[#03264D4D]"
          href="#packages-section"
        >
          Book Your Tour
        </a>
        <div
          class="bg-[#FFFFFF] flex justify-center items-center rounded-r-sm rounded-l-md p-1 px-4 lg:px-6 group-hover:bg-[#E8D6AD] group-hover:text-[#03264D] transition-all duration-200 border-[1px] border-[#03264D4D]"
        >
          <div class="bg-blueBg rounded-sm p-0.5">
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Im04LjAwNiAyMS4zMDhsLTEuMDY0LTEuMDY0TDE1LjE4NyAxMkw2Ljk0MiAzLjc1NmwxLjA2NC0xLjA2NEwxNy4zMTQgMTJ6Ii8+PC9zdmc+"
              class="object-contain w-8 h-8"
              alt="Arrow icon"
            />
          </div>
        </div>
      </div>
    </article>

    <article class="flex flex-col gap-4 justify-center items-center w-full lg:w-6/12 lg:gap-8 lg:justify-center">
      <img src="/public/assets/tour-service.png" class="w-full" alt="Tour service image" />
    </article>
  </div>
</SectionStructure>
