---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<!-- ? Home section -->
<SectionStructure sectionClasses=" w-full" wrapperClasses="px-6 items-center md:gap-4" idSection="blog">
  <div class="max-h-[300px] w-full md:max-h-[460px]">
    <img src="/public/assets/blog/mobile.webp" class="md:hidden object-cover h-full w-full" alt="" />
    <img src="/public/assets/blog/desktop.webp" class="hidden md:block object-cover h-full w-full" alt="" />
  </div>
  <span class="text-[13px]/[17px] w-full md:max-w-[785px] text-[#7C8997]">22 Nov 2024 · 2 mins read</span>
</SectionStructure>
