---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import HomeBlog from '../sections/BlogPage/HomeBlog.astro';
import TestimonialsSection from '../sections/HomePage/Testimonials/TestimonialsSection.astro';
import TakeFirstStep from '../sections/TestimonialsPage/TakeFirstStep.astro';
import ContentBlog from '../sections/BlogPage/ContentBlog.astro';
import BlogCards from '../sections/BlogPage/BlogCards.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={false} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={false} />

  <main class="flex flex-col w-full mt-[120px] lg:mt-[60px]">
    <HomeBlog />
    <ContentBlog />
    <BlogCards />
  </main>
</Layout>
