---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import Home from '../sections/HomePage/Home.astro';
import QualityService from '../sections/HomePage/QualityService.astro';
import TourService from '../sections/HomePage/TourService.astro';
import TopLocations from '../sections/HomePage/TopLocations/TopLocations.astro';
import OffPlan from '../sections/HomePage/OffPlan.astro';
import PropertyInsight from '../sections/HomePage/PropertyInsight/PropertyInsight.astro';
import TestimonialsSection from '../sections/HomePage/Testimonials/TestimonialsSection.astro';
import BookConsultationButton from '../components/common/BookConsultation';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} client:load />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={true} />

  <main class="flex flex-col gap-[128px] h-max relative">
    <BookConsultationButton client:load />

    <Home />
    <QualityService />
    <TourService />
    <TopLocations />
    <OffPlan />
    <PropertyInsight />
    <TestimonialsSection isIndexSection />
  </main>
</Layout>
