---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import Book from '../sections/Book/Book.astro';
import WhyUs from '../sections/WhyUs.astro';
import Home from '../sections/Home.astro';
import QualityService from '../sections/QualityService.astro';
import TourService from '../sections/TourService.astro';
import TopLocations from '../sections/TopLocations/TopLocations.astro';
import OffPlan from '../sections/OffPlan.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={true} />

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
    <Home />
    <QualityService />
    <TourService />
    <TopLocations />
    <OffPlan />
  </main>
</Layout>
