---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import HomeBlog from '../sections/BlogPage/HomeBlog.astro';
import ContentBlog from '../sections/BlogPage/ContentBlog.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={false} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={false} />

  <main class="flex flex-col w-full mt-[120px] lg:mt-[60px]">
    <HomeBlog />
    <ContentBlog />
    <!-- <BlogCards /> -->
  </main>
</Layout>
