---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile';
import TestimonialsSection from '../sections/HomePage/Testimonials/TestimonialsSection.astro';
import TakeFirstStep from '../sections/TestimonialsPage/TakeFirstStep.astro';
import SecondaryNavbar from '../components/header/SecondaryNavbar.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} />

  <!-- ? Header section desktop-->
  <SecondaryNavbar isLanding={true} />

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12 mt-[120px] lg:mt-[60px]">
    <TestimonialsSection isIndexSection={false} />
    <TakeFirstStep />
  </main>
</Layout>
