---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile';
import Thanks from '../sections/ThankYou/Thanks.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={false} client:load />

  <!-- ? Header section desktop-->
  <!-- <NavbarDesktop isLanding={false} /> -->

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12 mt-[120px] lg:mt-[60px]">
    <Thanks />
  </main>
</Layout>
