---
import SectionStructure from '../../structures/SectionStructure.astro';
import ThankYouText from './ThankYouText';
---

<SectionStructure wrapperClasses="items-center lg:flex-row" sectionClasses="justify-center" idSection="thank-you">
  <article
    class="flex flex-col lg:flex-row lg:justify-between relative lg:items-center pb-4 shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] bg-[#F8FBFF] -mt-10 pt-10 lg:pt-0 items-center shado gap-8"
  >
    <img src="/public/assets/navbar/Logo.png" class="absolute hidden lg:block object-contain top-8 left-8 w-[120px] xl:w-[175px] h-auto" alt="" />
    <div class="flex flex-col items-center gap-4 lg:w-[50%]">
      <div class="flex justify-center">
        <article class="w-full flex flex-col items-center gap-5 lg:w-6/12 px-4 h-max lg:px-0">
          <div class="flex justify-center gap-4">
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
              class="w-3 h-3 object-contain"
              alt="Star icon"
            />

            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
              class="w-3 h-3 object-contain"
              alt="Star icon"
            />

            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Im03LjUgMGwtMiA1aC01bDQgMy41bC0yIDZsNS0zLjVsNSAzLjVsLTItNmw0LTMuNWgtNXoiLz48L3N2Zz4="
              class="w-3 h-3 object-contain"
              alt="Star icon"
            />
          </div>
        </article>
      </div>

      <div class="flex flex-col gap-4 items-center text-center px-6">
        <h2 class="Giyaste text-[28px]/[36px] md:text-4xl tracking-widest lg:text-[50px]/[55px]">THANK YOU!</h2>
        <ThankYouText client:only="react" />
        <p class="text-[#606773] w-full px-2 text-[17px]/[26px]">
          If you have any immediate questions, feel <br class="hidden lg:block" /> free to contact us via email or <br class="lg:hidden" /> WhatsApp.
        </p>
      </div>

      <article class="flex lg:mt-10 w-[320px] lg:w-full flex-col">
        <div class="flex flex-col lg:flex-row lg:justify-center gap-4">
          <article class="p-1 hover:bg-yellow cursor-pointer hover:text-[#001730] transition-all duration-200 flex gap-1 items-center xl:w-[254px] bg-blue text-yellow rounded-md">
            <div class="bg-yellow h-full p-1 rounded-sm">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMjM0OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSI+PHJlY3Qgd2lkdGg9IjE4LjUiIGhlaWdodD0iMTUuNSIgeD0iMi43NSIgeT0iNC4yNSIgcng9IjMiLz48cGF0aCBkPSJtMi43NSA4bDguNDE1IDMuODY2YTIgMiAwIDAgMCAxLjY3IDBMMjEuMjUgOCIvPjwvZz48L3N2Zz4="
                alt="Phone icon"
                class="h-8 w-8 object-contain"
              />
            </div>
            <a href="mailto:hello@thehousinghearld.com" class="text-center w-full font-medium">hello@thehousinghearld.com</a>
          </article>

          <article class="p-1 hover:bg-yellow cursor-pointer hover:text-[#001730] transition-all duration-200 xl:w-[180px] flex items-center bg-blue text-yellow rounded-md">
            <div class="bg-yellow h-full p-1 rounded-sm">
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMwMDIzNDgiIGQ9Ik02LjYyIDEwLjc5YzEuNDQgMi44MyAzLjc2IDUuMTUgNi41OSA2LjU5bDIuMi0yLjJjLjI4LS4yOC42Ny0uMzYgMS4wMi0uMjVjMS4xMi4zNyAyLjMyLjU3IDMuNTcuNTdhMSAxIDAgMCAxIDEgMVYyMGExIDEgMCAwIDEtMSAxQTE3IDE3IDAgMCAxIDMgNGExIDEgMCAwIDEgMS0xaDMuNWExIDEgMCAwIDEgMSAxYzAgMS4yNS4yIDIuNDUuNTcgMy41N2MuMTEuMzUuMDMuNzQtLjI1IDEuMDJ6Ii8+PC9zdmc+"
                alt="Phone icon"
                class="h-8 w-8 object-contain"
              />
            </div>
            <a href="tel:+971504577173" class="text-center w-full font-medium">+971 50 457 7173</a>
          </article>
        </div>
      </article>

      <img src="/public/assets/thank-you/tower.png" class="lg:hidden" alt="" />
    </div>
    <div class="lg:w-[50%] hidden lg:block px-6">
      <img src="/public/assets/thank-you/image.png" class="size-full" alt="" />
    </div>
  </article>
</SectionStructure>
