.bg-menu-navbar {
  background-image: linear-gradient(rgba(0, 0.137, 0.282, 0.7), rgba(0, 0.137, 0.282, 0.7)), url('https://shualim.online/wlp/fbyb/home/public/assets/navbar/navbar.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
