---
import SectionStructure from '../structures/SectionStructure.astro';
---

<SectionStructure idSection="off-plan">
  <div class="bg-[#FFFFFF] flex flex-col gap-16 p-8 xl:px-16 relative min-h-[70vh] w-full items-center justify-between md:py-20 lg:gap-24 xl:gap-28">
    <div class="w-10/12 bg-blueBg h-full absolute top-0 left-0 z-30 rounded-l-md rounded-r-[15px] lg:w-9/12"></div>
    <div class="w-2/12 bg-blueBg h-full absolute top-0 right-0 z-30 rounded-r-md rounded-l-[15px] lg:w-3/12"></div>

    <article class="w-full flex flex-col gap-8 relative z-40">
      <span class="text-[#A7B3C7] text-lg xl:text-xl">OFF PLAN PROPERTIES</span>
      <h2 class="Giyaste text-2xl leading-snug tracking-[0.3rem] lg:text-3xl xl:text-4xl text-[#FFFFFF] xl:leading-tight xl:font-light xl:tracking-[0.5rem]">
        OFF-PLAN PROPERTIES IN DUBAI OFFER EXCLUSIVE ACCESS TO HIGH-GROWTH OPPORTUNITIES. WITH LOW INITIAL PRICES, FLEXIBLE PAYMENT PLANS, AND SIGNIFICANT ROI POTENTIAL, THEY ARE THE PERFECT CHOICE
        FOR STRATEGIC INVESTORS.
      </h2>
    </article>

    <div class="flex flex-col gap-20 justify-center items-center w-full lg:gap-8 lg:justify-center relative z-40 sm:flex-row sm:flex-wrap sm:justify-center sm:items-center sm:gap-12 xl:gap-32">
      <article class="flex flex-col gap-3 w-full max-w-[400px] sm:max-w-[350px] md:max-w-[300px] sm:items-center lg:items-start">
        <div class="flex flex-col gap-1 sm:items-center lg:items-start">
          <img src="/public/assets/off-plan/lower-prices.svg" alt="Lower prices icon" class="w-20 h-20 object-contain" />
          <h5 class="text-yellow font-medium text-xl">Lower Prices</h5>
        </div>

        <p class="text-[#FFFFFF] text-lg sm:text-center lg:text-start">Start investing with a smaller budget.</p>
      </article>

      <article class="flex flex-col gap-3 w-full max-w-[400px] sm:max-w-[350px] sm:items-center lg:items-start md:max-w-[300px]">
        <div class="flex flex-col gap-1 sm:items-center lg:items-start">
          <img src="/public/assets/off-plan/early-access.svg" alt="Early Access icon" class="w-20 h-20 object-contain" />
          <h5 class="text-yellow font-medium text-xl">Early Access</h5>
        </div>

        <p class="text-[#FFFFFF] text-lg sm:text-center lg:text-start">Start investing with a smaller budget.</p>
      </article>

      <article class="flex flex-col gap-3 w-full max-w-[400px] sm:max-w-[350px] sm:items-center lg:items-start md:max-w-[300px]">
        <div class="flex flex-col gap-1 sm:items-center lg:items-start">
          <img src="/public/assets/off-plan/roi-potential.svg" alt="ROI Potential icon" class="w-20 h-20 object-contain" />
          <h5 class="text-yellow font-medium text-xl">High ROI Potential</h5>
        </div>

        <p class="text-[#FFFFFF] text-lg sm:text-center lg:text-start">Enjoy maximum returns as values appreciate post-construction.</p>
      </article>
    </div>
  </div>
</SectionStructure>
