---
import SectionStructure from '../../../structures/SectionStructure.astro';
import { TopLocationsCarousel } from './Swiper';
---

<SectionStructure idSection="tour-service" wrapperClasses="overflow-x-hidden">
  <div
    class="shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px] rounded-[4px] flex flex-col gap-16 lg:justify-between lg:items-start p-4 xl:px-16 lg:py-12 overflow-hidden lg:shadow-none overflow-x-hidden mb-12"
  >
    <article class="w-full flex flex-col justify-between gap-6 pt-14 px-7">
      <span class="text-base/[19.52px] xl:text-base text-[#606773] font-normal">AREAS AND DEVELOPMENTS</span>
      <h2 class="Giyaste text-[32px]/[35.2px] tracking-[0.3rem] text-blue xl:text-4xl ansc:text-red-200 xl:leading-tight xl:font-light xl:tracking-[0.5rem]">
        TOP LOCATIONS
        <br />
        FOR ROI IN DUBAI
      </h2>
    </article>

    <article class="flex flex-col gap-4 overflow-hidden justify-center items-center lg:gap-8 lg:justify-center w-full lg:-mt-32">
      <TopLocationsCarousel client:load />
    </article>
  </div>
</SectionStructure>
